.Hero{
    display: flex;
    align-items: center;
    background-image: url(./img/img.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    margin: auto; 
    font-family: 'PT Sans', sans-serif; 
    padding: 160px 0; 
}